/* $Revision$ */

/*DEV:currently hidden*/
#forum,#frienBar,#notification{visibility:hidden;}
/* base */
body{font:normal normal  10px/1.5em 'Nobile', arial, serif;color:#FFF;padding:0;margin:0;}
.em12,p, li{font-size:1.2em;}
li li, li p{font-size:1em;}
p,li,ul,ol,dl,dd,dt,form,fieldset{margin:0;padding:0;}
ul,ol{list-style:none;}

a{color:#666;}
a:hover{text-decoration:none;color:#555;}

/* struct */
#blacklodge{background:#000;height:100%;}
html{height:100%;}
#site{margin:0 5px;}
#top{}
#title{}
#notification{padding:2px 5px;background:#999;border:solid 1px #BBB;text-align:right;}
#forum{width:25%;background:#090909;border:solid 1px #BBB;}
#core{width:60%;background:#090909;border:solid 1px #BBB;}


#chat{}
#chatList{overflow:auto;border-top:solid 1px;}
#chatList div{border-bottom:solid 1px;background:#111;}
#chatList .pseudo{}
#chatList .post{}
#chatList .date{font-size:.8em;}


#profil{}
#messages{}
#frienBar{width:12%;background:#090909;border:solid 1px #BBB;}

/* context */
.forumItem{margin:5px 0;}
.friendList{max-height:90%;overflow:auto;}

/* helpme */

.iBlk{display:inline-block;display:-moz-inline-stack}
.halfSize{width:49%;}
.vaM{vertical-align:middle;}
.vaT{vertical-align:top;}
.bold{font-weight:bold;}
.padding{padding:10px;}